---
BasedOnStyle:                         Mozilla

AlignArrayOfStructures:               Left
AlignConsecutiveMacros:               AcrossEmptyLinesAndComments
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType:           None
BreakBeforeBraces:                    Custom
ColumnLimit:                          9001
IndentWidth:                          8
SpacesBeforeTrailingComments:         2
TabWidth:                             8
UseTab:                               ForIndentation

BraceWrapping:
  BeforeElse: true
...
